@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Calendar Overrides */
.react-calendar {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  font-family: inherit !important;
}

.react-calendar__navigation button {
  color: white !important;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #18181b !important;
  border-radius: 12px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: #71717a;
}

.react-calendar__tile {
  padding: 1.5em 0.5em !important;
  background: none;
  text-align: center;
  line-height: 16px;
  color: #a1a1aa;
  border-radius: 12px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #18181b !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #27272a !important;
  color: white !important;
}

.react-calendar__tile--active {
  background: white !important;
  color: black !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white !important;
  color: black !important;
}
